a{
    color: var(--color-primary);
    text-decoration: none;
}

.row {
    --row-max-width: 72.5em;
    max-width: var(--row-max-width);
    margin-left: auto;
    margin-right: auto;

    &-slim {
        --row-max-width: 42.5em;
    }
}

.is-marked{
    background: linear-gradient(180deg, rgba(255,255,255,0) 50%, var(--color-highlight) 50%);
}