$breakpoint-phones-max: 30em;
$breakpoint-phones-big-max: 40em;
$breakpoint-tablet-max: 48em;
$breakpoint-tablet-big-max: 64em;
$breakpoint-pc-small: 85.375em;
:root {
    //colors
    --color-primary: #000000;
    --color-primary-disabled: rgb(225,225,225);
    --color-secondary: #FFFFFF;
    --color-highlight: #FFE600;
    
    //spacing
    --gap-xsmall: 1.375em;
    --gap-small: 1.75em;
    --gap-normal: 2.375em;
    --gap-big: 2.75em;
    --section-gap: 2em;

    //fonts
    --font-primary: 'Roboto Condensed', sans-serif;
    --font-secondary: 'Rasa', serif;
    --font-headings: 'Roboto Condensed', sans-serif;
}
